<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </head>
    <style>



    </style>

    <body>
        <p id="otp" hidden></p>
        <div class="row mt-4 ml-2 ">
               <h4>Student Enrollment Form</h4>
           </div>
       <div class="container ">
<div class="row float-right mb-4">
    <button type="button" class="btn btn-primary mb-4 p-1" onclick="myFunction311()"style="height:50px;width:auto">New Student</button>
</div>
<div class="row mt-3 pt-5">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>S.NO</th>
      <th>Student name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Class</th>
      <th>Marks %</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    {% for i in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <a href><td>{{ i.name }}</td></a>
        <td>{{ i.email }}</td>
        <td>{{ i.mobile }}</td>
        <td>{{ i.std }}</td>
        <td>{{ i.marks }}</td>
        <td scope="col"><button  onclick="myFunction711(this)" id="{{i.id}}">Detail</button></td>

      </tr>
    {% endfor %}
  </tbody>
</table>
</div>




       </div>








<div class="card" id="card101" style="height:450px;width:1200px;position:fixed;bottom: 0px;margin-left:40px;display:none;z-index:1001;">

<p class="text-right"><span id="times" onclick="myFunction511()" class="text-muted float-right mr-2" style="font-weight:200;font-size:21px;"><i class="fa fa-times"></i></span></p>
<h5 class="text-center mt-4" >Detail </h5>
<div class="row ml-2">
    <p class=""><span>Name: </span><span id="name1" style="color:blue"></span><span>Fathers Name: </span><span id="fname1" style="color:blue"></span><span>Mobile: </span><span id="mobile1" style="color:blue"></span></p>
    <p class=""><span>Email: </span><span id="email1" style="color:blue"></span><span>Address: </span><span id="address1" style="color:blue"></span><span>City: </span><span id="city2" style="color:blue"></span></p>
    <p class=""><span>Pincode: </span><span id="pincode2" style="color:blue"></span><span>Class: </span><span id="grade1" style="color:blue"></span><span>Marks: </span><span id="marks1" style="color:blue"></span></p>
    <p class=""><span id="time1" style="color:blue"></span></p>
</div>
</div>















<div class="" id="card100" style="overflow:auto;overflow-x:hidden;height:450px;position:fixed;bottom: 0px;margin-left:40px;display:none;z-index:1000;">
       <div class="card"  style="height:700px;width:1200px;bottom: 0px;margin-left:40px;display:block;">
<p class="text-right"><span id="times" onclick="myFunction211()" class="text-muted float-right mr-2" style="font-weight:200;font-size:21px;"><i class="fa fa-times"></i></span></p>
<h5 class="text-center mt-4" >Add Student </h5>








<div class="row" style="overflow:auto;overflow-x:hidden;">

<div class='row wrap justify-content-center mt-0 mb-0'>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Full Name</span><br>
<input  id="name" type="text" class="cool"/ >
<span id="e1"style="color:goldenrod;font-size:14px;display:none;">Please enter your full name</span></p>
</div>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Fathers Name</span><br>
<input  id="fname" type="text" class="cool"/ >
<span id="e2"style="color:goldenrod;font-size:14px;display:none;">Please enter your fathers name</span></p>
</div>



<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Address</span><br>
<input  id="add" type="text" class="cool"/ >
<span id="e3"style="color:goldenrod;font-size:14px;display:none;">Please enter your address</span></p>
</div>
</div>






<div class='row wrap justify-content-center mt-0 mb-0'>



<div class="col-md-3 mt-0 mb-0">
<p><span id="p2" style="font-size:18px;">Mobile Number<span class="badge circle circle-md light">?</span></span><br>
<input  id="mobile" type="text" name="mobile" class="cool"/>
<span id="e4"style="color:goldenrod;font-size:14px;display:none;">Please enter correct mobile number</span></p>
</div>




<div class="col-md-3 mt-0 mb-0 ">
<p><span id="p4" style="font-size:18px;">Pincode</span><br>
<input autocomplete="chrome-off" id="pincode" name="city" type="text" class="cool"/>
<span id="e5"style="color:goldenrod;font-size:14px;display:none;z-index:1;">Please enter correct pincode</span>
<div class="card mt-0 p-0" id="card21" style="height:12rem;width: auto;border:0;overflow-y: scroll ;display:none;position:absolute;top:auto;margin-top:-5px;z-index:4;">
<input autocomplete="chrome-off"  id="pincode1"  type="text" class="cool"/ autocomplete='off'  placeholder="Pincode"><br>
<ul class=" list-group" id="result1"></ul>
</div>

</p>
</div>





<div class="col-md-3 mt-0 mb-0">
<p><span id="p5" style="font-size:18px;">Your current city of residence</span><br>
<input autocomplete="chrome-off" id="city" name="city" type="text" class="cool"/>
<span id="e6"style="color:goldenrod;font-size:14px;display:none;z-index:1;">Please enter city of residence</span>
<div class="card mt-0 p-0" id="card22" style="height:12rem;width: auto;border:0;overflow-y: scroll ;display:none;position:absolute;top:auto;margin-top:-5px;z-index:4;">
<input autocomplete="chrome-off"  id="city1"  type="text" class="cool"/ autocomplete='off' placeholder="City"><br>
<ul class=" list-group" id="result2"></ul>
</div>

</p>
</div>
</div>



<div class='row wrap justify-content-center mt-0 mb-0'>



<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Email</span><br>
<input  id="email" type="text" class="cool"/ >
<span id="e7"style="color:goldenrod;font-size:14px;display:none;">Please enter your correct email</span></p>
</div>

<div class="col-md-3 mt-0 mb-0" id="month"style="display:block;">
<p><span id="p3" style="">Class</span><br>
<input  id="class" type="text" class="cool"/style="width:96%">
<span id="e8"style="color:goldenrod;font-size:14px;display:none;">Please enter your class</span></p>
<div class="card mt-0 p-0" id="card20" style="height:8rem;border:0;cursor:pointer;width:96%;overflow-y: scroll ;display:none;position:absolute;top:43px;margin-top:-5px;z-index:2;">
<ul class=" list-group" id="result3" onMouseOver="this.style.background-color='rgb(173, 173, 219)';this.style.cursor='pointer'">
</ul>
</div>
</p>
</div>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Marks %</span><br>
<input  id="marks" type="text" class="cool"/ >
<span id="e9"style="color:goldenrod;font-size:14px;display:none;">Please enter valid marks</span></p>
</div>
</div>
<div class='row wrap justify-content-center mt-0 mb-0'>


<div class="col-md-3 justify-content-right mt-0 mb-0">
<p><span id="p9" style="color:white;font-size:18px">Birthday</span><br>
<input   type="date" id="birthday" name="birthday" class="cool"/style="width:100%">
<span id="e10"style="color:goldenrod;font-size:14px;display:none;">Please enter your birthday</span></p></p>
</div>
<div class="col-md-3 justify-content-right mt-0 mb-0">

</div>
<div class="col-md-3 justify-content-right mt-0 mb-0">

</div>
</div>
<div class="row m-0 justify-content-center">
<button class="btn" onclick="myFunction1()" type="submit" style="width:190px;text:center;height:50px;background-color:orange;font-weight:500;font-size:20px">SUBMIT</button>
</div>
</div>

           </div>
















<div class="" id="card102" style="overflow:auto;overflow-x:hidden;height:450px;position:fixed;bottom: 0px;margin-left:40px;display:none;z-index:1000;">
       <div class="card"  style="height:700px;width:1200px;bottom: 0px;margin-left:40px;display:block;">
<p class="text-right"><span id="times" onclick="myFunction911()" class="text-muted float-right mr-2" style="font-weight:200;font-size:21px;"><i class="fa fa-times"></i></span></p>
<h5 class="text-center mt-4" >Edit Student </h5>








<div class="row" style="overflow:auto;overflow-x:hidden;">

<div class='row wrap justify-content-center mt-0 mb-0'>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Full Name</span><br>
<input  id="name3" type="text" class="cool"/ >
<span id="e11"style="color:goldenrod;font-size:14px;display:none;">Please enter your full name</span></p>
</div>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Fathers Name</span><br>
<input  id="fname3" type="text" class="cool"/ >
<span id="e21"style="color:goldenrod;font-size:14px;display:none;">Please enter your fathers name</span></p>
</div>



<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Address</span><br>
<input  id="add3" type="text" class="cool"/ >
<span id="e31"style="color:goldenrod;font-size:14px;display:none;">Please enter your address</span></p>
</div>
</div>






<div class='row wrap justify-content-center mt-0 mb-0'>



<div class="col-md-3 mt-0 mb-0">
<p><span id="p2" style="font-size:18px;">Mobile Number<span class="badge circle circle-md light">?</span></span><br>
<input  id="mobile3" type="text" name="mobile" class="cool"/>
<span id="e41"style="color:goldenrod;font-size:14px;display:none;">Please enter correct mobile number</span></p>
</div>




<div class="col-md-3 mt-0 mb-0 ">
<p><span id="p4" style="font-size:18px;">Pincode</span><br>
<input autocomplete="chrome-off" id="pincode3" name="city" type="text" class="cool"/>
<span id="e51"style="color:goldenrod;font-size:14px;display:none;z-index:1;">Please enter correct pincode</span>
<div class="card mt-0 p-0" id="card21" style="height:12rem;width: auto;border:0;overflow-y: scroll ;display:none;position:absolute;top:auto;margin-top:-5px;z-index:4;">
<input autocomplete="chrome-off"  id="pincode1"  type="text" class="cool"/ autocomplete='off'  placeholder="Pincode"><br>
<ul class=" list-group" id="result1"></ul>
</div>

</p>
</div>





<div class="col-md-3 mt-0 mb-0">
<p><span id="p5" style="font-size:18px;">Your current city of residence</span><br>
<input autocomplete="chrome-off" id="city3" name="city" type="text" class="cool"/>
<span id="e61"style="color:goldenrod;font-size:14px;display:none;z-index:1;">Please enter city of residence</span>
<div class="card mt-0 p-0" id="card22" style="height:12rem;width: auto;border:0;overflow-y: scroll ;display:none;position:absolute;top:auto;margin-top:-5px;z-index:4;">
<input autocomplete="chrome-off"  id="city1"  type="text" class="cool"/ autocomplete='off' placeholder="City"><br>
<ul class=" list-group" id="result2"></ul>
</div>

</p>
</div>
</div>



<div class='row wrap justify-content-center mt-0 mb-0'>



<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Email</span><br>
<input  id="email3" type="text" class="cool"/ >
<span id="e71"style="color:goldenrod;font-size:14px;display:none;">Please enter your correct email</span></p>
</div>

<div class="col-md-3 mt-0 mb-0" id="month"style="display:block;">
<p><span id="p3" style="">Class</span><br>
<input  id="class3" type="text" class="cool"/style="width:96%">
<span id="e81"style="color:goldenrod;font-size:14px;display:none;">Please enter your class</span></p>
<div class="card mt-0 p-0" id="card20" style="height:8rem;border:0;cursor:pointer;width:96%;overflow-y: scroll ;display:none;position:absolute;top:43px;margin-top:-5px;z-index:2;">
<ul class=" list-group" id="result3" onMouseOver="this.style.background-color='rgb(173, 173, 219)';this.style.cursor='pointer'">
</ul>
</div>
</p>
</div>


<div class="col-md-3 mt-0 mb-0">
<p ><span id="p1" style="font-size:18px">Marks %</span><br>
<input  id="marks3" type="text" class="cool"/ >
<span id="e91"style="color:goldenrod;font-size:14px;display:none;">Please enter valid marks</span></p>
</div>
</div>
<div class='row wrap justify-content-center mt-0 mb-0'>


<div class="col-md-3 justify-content-right mt-0 mb-0">
<p><span id="p9" style="color:white;font-size:18px">Birthday</span><br>
<input   type="date" id="birthday3" name="birthday" class="cool"/style="width:100%">
<span id="e101"style="color:goldenrod;font-size:14px;display:none;">Please enter your birthday</span></p></p>
</div>
<div class="col-md-3 justify-content-right mt-0 mb-0">

</div>
<div class="col-md-3 justify-content-right mt-0 mb-0">

</div>
</div>
<div class="row m-0 justify-content-center">
<button class="btn" onclick="myFunction2()" type="submit" style="width:190px;text:center;height:50px;background-color:orange;font-weight:500;font-size:20px">SUBMIT</button>
</div>
</div>
</div>
 <script>





//  function myFunction12() {
    //   var id = $(vc).attr("id");
    //   console.log("hello")
    //  $.ajax({
    //   type : "POST",
    //  url: "{% url 'product:showstudent'  %}",
    //  data: {

    //   id1:id1,


    //   csrfmiddlewaretoken: '{{ csrf_token }}',
    //   dataType: "json",

    //  },
//      success: function (data) {
//          var name=data.name
//          var fname=data.fname
//          var mobile=data.mobile
//          var city=data.city
//          var pincode=data.pin
//          var email=data.email
//          var address=data.address
//          var marks=data.marks
//          var grade=data.std
//          var dots = document.getElementById("card101");
//          dots.style.display = "block"
//          document.getElementById("name1").innerHTML = "";
//          document.getElementById("fname1").innerHTML = "";
//          document.getElementById("address1").innerHTML = "";
//          document.getElementById("mobile1").innerHTML = "";
//          document.getElementById("email1").innerHTML = "";
//          document.getElementById("city2").innerHTML = "";
//          document.getElementById("pincode2").innerHTML = "";
//          document.getElementById("marks1").innerHTML = "";
//          document.getElementById("grade1").innerHTML = "";
//          document.getElementById("name1").innerHTML =name;
//          document.getElementById("fname1").innerHTML =fname;
//          document.getElementById("address1").innerHTML =address;
//          document.getElementById("mobile1").innerHTML =mobile;
//          document.getElementById("marks1").innerHTML =marks;
//          document.getElementById("pincode2").innerHTML =pincode;
//          document.getElementById("city2").innerHTML =city;
//          document.getElementById("grade1").innerHTML =grade;
//          document.getElementById("email1").innerHTML =email;

//      }
    //  })
    //  )



// function myFunction411(obj) {
//       var id1=obj.id;
//      $.ajax({
//       type : "POST",
//      url: "{% url 'product:editstudent'  %}",
//      data: {

//       id1:id1,


//       csrfmiddlewaretoken: '{{ csrf_token }}',
//       dataType: "json",

//      },
//      })
//      )


function myFunction511() {
    var dots = document.getElementById("card101");


    dots.style.display = "none"

}

function myFunction911() {
    var dots = document.getElementById("card102");


    dots.style.display = "none"

}



function myFunction811(obj) {
    var id1=obj.id
     $.ajax({
      type : "POST",
     url: "{% url 'product:editstudent'  %}",
     data: {

      id1:id1,


      csrfmiddlewaretoken: '{{ csrf_token }}',
      dataType: "json",

     },
     success: function (data) {
         var name=data.name
         var fname=data.fname
         var mobile=data.mobile
         var city=data.city
         var pincode=data.pin
         var email=data.email
         var address=data.address
         var marks=data.marks
         var grade=data.std
         var id=data.id1
         var dots = document.getElementById("card102");
         dots.style.display = "block"
         document.getElementById("name3").value =name;
         document.getElementById("fname3").value =fname;
         document.getElementById("add3").value =address;
         document.getElementById("mobile3").value =mobile;
         document.getElementById("marks3").value =marks;
         document.getElementById("pincode3").value =pincode;
         document.getElementById("city3").value =city;
         document.getElementById("class3").value =grade;
         document.getElementById("email3").value =email;
         document.getElementById("otp").innerHTML ="";
         document.getElementById("otp").innerHTML =id;
     }


     })
}

function myFunction711(obj) {
    var id1=obj.id
     $.ajax({
      type : "POST",
     url: "{% url 'product:showstudent'  %}",
     data: {

      id1:id1,


      csrfmiddlewaretoken: '{{ csrf_token }}',
      dataType: "json",

     },
     success: function (data) {
         var name=data.name
         var fname=data.fname
         var mobile=data.mobile
         var city=data.city
         var pincode=data.pin
         var email=data.email
         var address=data.address
         var marks=data.marks
         var grade=data.std
         var dots = document.getElementById("card101");
         dots.style.display = "block"
         document.getElementById("name1").innerHTML = "";
         document.getElementById("fname1").innerHTML = "";
         document.getElementById("address1").innerHTML = "";
         document.getElementById("mobile1").innerHTML = "";
         document.getElementById("email1").innerHTML = "";
         document.getElementById("city2").innerHTML = "";
         document.getElementById("pincode2").innerHTML = "";
         document.getElementById("marks1").innerHTML = "";
         document.getElementById("grade1").innerHTML = "";
         document.getElementById("name1").innerHTML =name;
         document.getElementById("fname1").innerHTML =fname;
         document.getElementById("address1").innerHTML =address;
         document.getElementById("mobile1").innerHTML =mobile;
         document.getElementById("marks1").innerHTML =marks;
         document.getElementById("pincode2").innerHTML =pincode;
         document.getElementById("city2").innerHTML =city;
         document.getElementById("grade1").innerHTML =grade;
         document.getElementById("email1").innerHTML =email;

     }
     })

}

 function myFunction311() {
    var dots = document.getElementById("card100");


    dots.style.display = "block"

}

function myFunction211() {

    var dots = document.getElementById("card100");
    dots.style.display = "none"


}

     window.addEventListener('DOMContentLoaded', function() {
         $("#city").on('mouseenter',function(){
var dots = document.getElementById("card22");


dots.style.display = "block";


$.getJSON('http://nishantsingh910.pythonanywhere.com/city', function(data) {
    $.each(data, function(key, value){
                 $('#result2').append('<li class="list-group-item link-class" style="cursor:pointer;"><span class="col-md-3" style="font-size:13px">'+value.city +'</span></li>');
                                  })
     })

     $('#city1').keyup(function(){
         $('#result2').html('');

         var searchField = $('#city1').val();
         var expression = new RegExp(searchField, "i");
         $.getJSON('http://nishantsingh910.pythonanywhere.com/city', function(data) {
             $('#result2').html('');
                                 $.each(data, function(key, value){
                                  if (value.city.search(expression) != -1 )
                                  {
                                   $('#result2').append('<li class="list-group-item link-class" style="cursor:pointer;"><span class="" style="font-size:15px">'+value.city +'</span></li>');
                                  }
                                 });
                                });
                               });

        $('#result2').on('click', 'li', function() {
                                var click_text = $(this).text().split(',');
                                $('#city').val($.trim(click_text[0]));
                                 var dot=document.getElementById("card22")
                                 dots.style.display = "none";


                               })
})


$("#pincode").on('mouseenter',function(){
var dots = document.getElementById("card21");


dots.style.display = "block";


})




$('#pincode1').keyup(function(){
    $('#result1').html('');
    var dots12 = document.getElementById("pincode1");
    var amount10=dots12.value
    $.ajax({
     type : "POST",
     url: "{% url 'product:findpincode' %}",
     data: {
      amount : amount10,
      csrfmiddlewaretoken: '{{ csrf_token }}',



      dataType: "json",

     },
    })

var searchField = $('#pincode1').val();
         var expression = new RegExp(searchField, "i");
         $.getJSON('http://nishantsingh910.pythonanywhere.com/findpincode', function(data) {
             $('#result1').html('');
             console.log(data.length)
                                 $.each(data, function(key, value){
                                     if (value.pincode.search(expression) != -1 )
                                  {

                                   $('#result1').append('<li class="list-group-item link-class" style="cursor:pointer;"><span class="" style="font-size:15px">'+value.pincode +'</span></li>');

}


                                 });
                                });

                                $('#result1').on('click', 'li', function() {
                                var click_text = $(this).text().split(',');
                                $('#pincode').val($.trim(click_text[0]));
                                 var dots=document.getElementById("card21")
                                 dots.style.display = "none";

                               })
})



$('#class').keyup(function(){
    $('#class').val("")
})
$('#city').keyup(function(){
    $('#city').val("")
})
$('#pincode').keyup(function(){
    $('#pincode').val("")
})

$('#mobile').keyup(function(){
        var dots = document.getElementById("mobile");
    var amount=dots.value
    $.ajax({
     type : "POST",
     url: "{% url 'product:validatemobile' %}",
     data: {
      amount : amount,
      csrfmiddlewaretoken: '{{ csrf_token }}',



      dataType: "json",

     },
    success: function (data) {

           var x= data.amount
        if(x.length>9){
          dots.value=data.amount
}
else if (x.length==0){
    dots.value=data.amount
}


      }
})
})

$("#class").on('mouseenter',function(){
$("#result3").html('');
var dots1 = document.getElementById("card20");


dots1.style.display = "block";


 $.getJSON('http://nishantsingh910.pythonanywhere.com/grade', function(data) {
     $("#result3").html('');

             $.each(data, function(key, value){
                 $('#result3').append('<li class="list-group-item link-class"><span class="col-md-3" style="font-size:13px">'+value.name +'</span></li>');
                                  })
     })

     $('#result3').on('click', 'li', function() {
                                var click_text = $(this).text().split(',');
                                $('#class').val($.trim(click_text[0]));
                                $("#result3").html('');
                                var dots=document.getElementById("card20")
                                 dots.style.display = "none";

     })


})







})

 function myFunction1() {
     var dots = document.getElementById("name");
    var dots1 = document.getElementById("fname");
    var dots2 = document.getElementById("add");
    var dots3 = document.getElementById("mobile");
    var dots4 = document.getElementById("city");
    var dots5 = document.getElementById("pincode");
    var dots6 = document.getElementById("email");
    var dots7 = document.getElementById("class");
    var dots8 = document.getElementById("marks");
    var dots9 = document.getElementById("birthday");
      var name=dots.value
    var fname=dots1.value
    var address=dots2.value
    var mobile=dots3.value
    var city=dots4.value
    var pincode=dots5.value
    var email=dots6.value
    var marks=dots8.value
    var grade=dots7.value
    var dob=dots9.value
    if (name.length==0){
        var dots = document.getElementById("e1");
        dots.style.display = "block"
    }
    if (fname.length==0){
        var dots = document.getElementById("e2");
        dots.style.display = "block"
    }
    if (mobile.length <10){
        var dots = document.getElementById("e4");
        dots.style.display = "block"
    }
    if (address.length==0){
        var dots = document.getElementById("e3");
        dots.style.display = "block"
    }
    if (pincode.length==0){
        var dots = document.getElementById("e5");
        dots.style.display = "block"
    }
    if (city.length==0){
        var dots = document.getElementById("e6");
        dots.style.display = "block"
    }
     if (email.length==0){
        var dots = document.getElementById("e7");
        dots.style.display = "block"


    }
    if (!email.includes("@")){
        var dots = document.getElementById("e7");
        dots.style.display = "block"

    }
    if (grade.length==0){
        var dots = document.getElementById("e8");
        dots.style.display = "block"
    }
    if (marks.length==0 ||marks.length>2){
        var dots = document.getElementById("e9");
        dots.style.display = "block"
    }
    if (dob.length==0){
        var dots = document.getElementById("e10");
        dots.style.display = "block"
    }
    $.ajax({
     type : "POST",
     url: "{% url 'product:studentform' %}",
     data: {
      name:name,
      fname:fname,
      address:address,
      dob:dob,
      grade:grade,
      marks:marks,

      email:email,
      mobile:mobile,
      city:city,
      pincode:pincode,






      csrfmiddlewaretoken: '{{ csrf_token }}',



      dataType: "json",

     },
     success: function(data){
         var dots = document.getElementById("card100");
         dots.style.display = "none"

         document.location.href= 'http://nishantsingh910.pythonanywhere.com/'
     }
    })

}




 function myFunction2() {
     var dots0= document.getElementById("otp");
     var dots = document.getElementById("name3");
    var dots1 = document.getElementById("fname3");
    var dots2 = document.getElementById("add3");
    var dots3 = document.getElementById("mobile3");
    var dots4 = document.getElementById("city3");
    var dots5 = document.getElementById("pincode3");
    var dots6 = document.getElementById("email3");
    var dots7 = document.getElementById("class3");
    var dots8 = document.getElementById("marks3");
    var dots9 = document.getElementById("birthday3");
    var id=dots0.value
      var name=dots.value
    var fname=dots1.value
    var address=dots2.value
    var mobile=dots3.value
    var city=dots4.value
    var pincode=dots5.value
    var email=dots6.value
    var marks=dots8.value
    var grade=dots7.value
    var dob=dots9.value
    if (name.length==0){
        var dots = document.getElementById("e11");
        dots.style.display = "block"
    }
    if (fname.length==0){
        var dots = document.getElementById("e21");
        dots.style.display = "block"
    }
    if (mobile.length <10){
        var dots = document.getElementById("e41");
        dots.style.display = "block"
    }
    if (address.length==0){
        var dots = document.getElementById("e31");
        dots.style.display = "block"
    }
    if (pincode.length==0){
        var dots = document.getElementById("e51");
        dots.style.display = "block"
    }
    if (city.length==0){
        var dots = document.getElementById("e61");
        dots.style.display = "block"
    }
     if (email.length==0){
        var dots = document.getElementById("e71");
        dots.style.display = "block"


    }
    if (!email.includes("@")){
        var dots = document.getElementById("e71");
        dots.style.display = "block"

    }
    if (grade.length==0){
        var dots = document.getElementById("e81");
        dots.style.display = "block"
    }
    if (marks.length==0 ||marks.length>2){
        var dots = document.getElementById("e91");
        dots.style.display = "block"
    }
    if (dob.length==0){
        var dots = document.getElementById("e101");
        dots.style.display = "block"
    }
    $.ajax({
     type : "POST",
     url: "{% url 'product:studentform1' %}",
     data: {
         id1:id,
      name:name,
      fname:fname,
      address:address,
      dob:dob,
      grade:grade,
      marks:marks,

      email:email,
      mobile:mobile,
      city:city,
      pincode:pincode,






      csrfmiddlewaretoken: '{{ csrf_token }}',



      dataType: "json",

     },
     success: function(data){
         var dots = document.getElementById("card102");
         dots.style.display = "none"

         document.location.href= 'http://nishantsingh910.pythonanywhere.com/'
     }
    })

}
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script>
    </body>

    </html>